//- base.pug
doctype html
html
  head
    title My Dance Academy
    block scripts
    block style 
  body
    nav#navbar
      ul
        div#logo
          img(src="/static/download (4).png")
          | MDA
        li #[a(href="/") Home]
        li #[a(href="/") About ]
        li #[a(href="/") Services ]
        li #[a(href="/contact") Contact ]
    block content
    

    section#footersection 
      footer#footer
        | Copyright © 2019 HarryAcademy.com | All Rights Reserved 
    
